*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Segoe UI', sans-serif;;
    font-size: 1rem;
    line-height: 1.6;
    height: 100%;
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
    
}
.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}
.login-form{
    width: 350px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 2rem;
    background: #ffffff;
}
.form-input{
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
}
.form-group{
    margin-bottom: 1rem;
}
.form-button{
    background: #69d2e7;
    border: 1px;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: larger;
}

.form-button:hover{
    background: #69c8e7;
}
.form-header{
    text-align: center;
    margin-bottom : 2rem;
}
.form-footer{
    text-align: center;
}

.form-button-logout{
    background: #c73a3a;
    border: 1px ;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: larger;
}
.form-button-logout:hover{
    background: #e40e0e;
}

.form-button-ranking{
    background: #1f50d8;
    border: 1px ;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: larger;
}
.form-button-ranking:hover{
    background: #0f44d6;
}

body {
    background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);       }
h1{
    text-align: center;
    margin: 0 20% 0 20%;
    border-style: hidden;
    border-width: 2px;
    border-color: green;
    
}

.result{
    text-align: center;
    margin: 0 20% 5% 20%;
    border-style: hidden;
    border-width: 2px;
    border-color: brown;
}

.play{
    text-align: center;
    margin: 0 20% 5% 20%;
    border-style: solid;
    border-width: 2px;
    border-color: pink;
}

.logout{
    text-align: center;
    margin: 0 40% 5% 40%;
    border-radius: 13px;
}

.RPS {
    display: inline-block;
    margin: 0 0% 0 12%;
    border-style: hidden;
    border-width: 2px;
    border-color: red;
    
}

.outter{
    margin: auto;
    border-style: hidden;
    width: 50%;
    border-width: 2px;
    border-color: blue;
}