body{
    background-image: url(frame.jpg);
    background-size: 100% 505%;
}
div{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    letter-spacing: 5px;
    position: relative;
    height: 50px;
}
.cup img{
    width: 20%;
    height: 20%;
}

.cup{
    position: relative;
    animation: cup 3s linear infinite;
    margin-left: 300px;
    margin-right: 300px;
    top: -20px;
}

@keyframes cup{
    100%{
        transform: rotateY(360deg);
    }
}

.congrat{
    position: relative;
    animation-name: congrat;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    text-align: center;
    color:rgb(92, 11, 241);
}

@keyframes congrat{
    0%{top: -300px; opacity: 0;}
    100%{top: -70px; opacity: 1;}
}

.win{
    animation-name: win;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-align: center;
    color: rgb(235, 26, 141);
    position: relative;
    bottom: 100px;
}

@keyframes win{
    0%{opacity: 0;}
    100%{transform: rotateY(360deg);opacity: 1;}
}

